h1 {
    font-size: 50px;
    font-weight: bold;
}
#info {
    font-size: 20px;
}
#name {
    color: lime;
}
#file {

    color: Red;
    font-weight: bold;
    font-size: 18px;
    background-color: transparent;
}
#end {
    font-size: 20px;
    font-weight: bold;
}
